body {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  min-width: 960px;
  background: #242424 url("../img/background.jpg") no-repeat center top;
  color: #fff;
  margin: 0;
  padding: 0;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}
.main-header {
  margin-bottom: 60px;
  background-color: #000;
  color: #ffffff;
}
.main-navigation {
  float: left;
  width: 780px;
}
.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
}
.main-navigation a {
  color: #ffffff;
  display: block;
  padding: 25px 20px;
  text-decoration: none;
}
.main-navigation a:hover {
  background: #242424;
}
.user-block {
  float: right;
  max-width: 140px;
}
.login {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 25px 20px;
  padding-left: 50px;
  position: relative;
  text-decoration: none;
  vertical-align: top;
}
.login:hover {
  background-color: #242424;
}
.login:hover::before {
  opacity: 1;
}
.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 17px;
  width: 21px;
  height: 18px;
  background: url("../img/sprite.png") no-repeat;
  opacity: .3;
}
.index-logo {
  width: 368px;
  height: 204px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.index-logo img {
  width: 368px;
  height: 204px;
}
.features {
  margin-bottom: 80px;
}
.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
}
.features-item:last-child {
  margin-right: 0;
}
.features-item p {
  margin: 10px;
  margin-bottom: 0;
}
.features-name {
  display: block;
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 35px;
  padding-bottom: 35px;
  position: relative;
}
.features-name::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.index-content {
  padding: 40px 80px 55px;
  margin-bottom: 35px;
  color: #000;
  background: url("../img/index-content-shadow.png") no-repeat center, #f8f5f2 url("../img/pattern-white.jpg");
}
.index-content-left {
  float: left;
  width: 380px;
}
.index-content-right {
  float: right;
  width: 300px;
}
.index-content-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 42px;
}
.index-content p {
  margin: 0;
  margin-bottom: 25px;
}
.index-content:last-of-type {
  padding-top: 45px;
}
.index-content:last-of-type p:last-of-type {
  margin-bottom: 45px;
}
.index-content-right:last-of-type p:last-of-type {
  margin-bottom: 30px;
}
.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 80px;
  list-style: none;
}
.news-preview li {
  margin-bottom: 25px;
}
.news-preview p {
  margin-bottom: 0;
}
.news-preview time {
  text-transform: none;
  font-weight: 400;
}
.btn {
  display: inline-block;
  padding: 10px 33px;
  color: #fff;
  background-color: #000;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font: inherit;
  text-transform: inherit;
  text-decoration: none;
  vertical-align: top;
  text-align: center;
  margin-right: 16px;
}
.btn:hover,
.btn:active {
  background-color: #663d15;
}
.btn:disabled,
.btn.disabled {
  cursor: default;
  opacity: .5;
}
.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000;
}
.gallery {
  position: relative;
  height: 260px;
}
.gallery-content {
  height: 164px;
  margin: 0;
  background-color: #ccc;
  border: 7px solid #fff;
}
.gallery-content img {
  width: 286px;
  height: 164px;
}
.gallery .btn {
  position: absolute;
  bottom: 0;
  width: 140px;
  margin: 0;
}
.gallery-prev {
  left: 0;
}
.gallery-next {
  right: 0;
}
.appointment-form input {
  background-color: #f9f6f3;
  border: 2px solid #000;
  outline: none;
  font-size: 14px;
  line-height: 24px;
  font: inherit;
  text-transform: inherit;
  color: inherit;
  width: 106px;
  padding: 7px 15px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.appointment-form input:nth-child(2n) {
  margin-right: 0;
}
.appointment-form input:focus {
  border: 2px solid #663d15;
}
.appointment-form .btn {
  clear: both;
  width: 100%;
  margin-top: 10px;
}
.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  color: #ffffff;
  background: #252525 url("../img/pattern-black.jpg");
}
.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}
.footer-contacts a {
  color: #ffffff;
}
.footer-contacts a:hover {
  text-decoration: none;
}
.footer-social {
  float: left;
  width: 180px;
  text-align: center;
}
.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}
.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  background: #000 url("../img/sprite.png") no-repeat center;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  -webkit-transition: background-position 0.5s, background-color 0.5s;
  -o-transition: background-position 0.5s, background-color 0.5s;
  transition: background-position 0.5s, background-color 0.5s;
}
.social-btn:hover {
  background-color: #fff;
}
.social-btn-vk {
  background-position: 10px -163px;
}
.social-btn-vk:hover {
  background-position: 10px -295px;
}
.social-btn-fb {
  background-position: 10px -80px;
}
.social-btn-fb:hover {
  background-position: 10px -205px;
}
.social-btn-inst {
  background-position: 10px -122px;
}
.social-btn-inst:hover {
  background-position: 10px -248px;
}
.footer-copyright {
  float: right;
  max-width: 140px;
}
.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}
.footer-copyright .btn {
  margin-right: 0;
  padding: 10px 20px;
}
.footer-copyright .btn:hover {
  color: #000000;
  background-color: #fff;
}
