body {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  min-width: 960px;
  background: #f7f4f0 url("../img/item-bg.jpg") no-repeat center top;
  color: #000;
  margin: 0;
  padding: 0;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  padding: 10px 33px;
  color: #fff;
  background-color: #000;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font: inherit;
  text-transform: inherit;
  text-decoration: none;
  vertical-align: top;
  text-align: center;
}
.btn:hover,
.btn:active {
  background-color: #663d15;
}
.btn:disabled,
.btn.disabled {
  cursor: default;
  opacity: .5;
}
.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000;
}
.logo {
  float: left;
  margin-right: 20px;
  height: 24px;
  width: 111px;
  padding-top: 23px;
  padding-left: 20px;
}
.main-header {
  margin-bottom: 60px;
  background-color: #000;
  color: #ffffff;
}
.main-navigation {
  float: left;
  width: 680px;
}
.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.main-navigation a {
  color: #ffffff;
  display: block;
  padding: 25px 20px;
  text-decoration: none;
}
.main-navigation a:hover {
  background: #242424;
}
.main-navigation .active::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #fff;
}
.user-block {
  float: right;
  max-width: 140px;
}
.login {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 25px 20px;
  padding-left: 50px;
  position: relative;
  text-decoration: none;
  vertical-align: top;
}
.login:hover {
  background-color: #242424;
}
.login:hover::before {
  opacity: 1;
}
.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 17px;
  width: 21px;
  height: 18px;
  background: url("../img/sprite.png") no-repeat;
  opacity: .3;
}
main {
  background: url("../img/bg-shop.jpg") repeat 50%;
}
h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
}
.breadcrumps {
  margin-bottom: 60px;
  padding-left: 0;
}
.breadcrumps ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.breadcrumps li {
  display: inline-block;
}
.breadcrumps li:last-child a {
  color: #aba9a7;
}
.breadcrumps li:last-child a::after {
  display: none;
}
.breadcrumps a {
  color: #000;
  display: block;
  padding-right: 40px;
  text-decoration: none;
  position: relative;
}
.breadcrumps a::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-color: #000;
  position: absolute;
  bottom: 5px;
  right: 15px;
  margin-left: -10px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
aside {
  float: left;
  width: 220px;
  margin-right: 20px;
}
aside fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
}
aside fieldset:last-of-type {
  margin-bottom: 40px;
}
aside legend {
  font-size: 24px;
  margin-bottom: 30px;
}
aside .checkbox-label {
  display: block;
  margin-bottom: 20px;
  margin-left: 45px;
  position: relative;
  cursor: pointer;
}
aside .checkbox-label::before {
  content: '';
  width: 16px;
  height: 16px;
  border: 2px solid;
  position: absolute;
  left: -45px;
}
aside .checkbox-label:hover {
  color: #663d15;
}
aside .checkbox-label:hover::before {
  color: #000;
}
aside .checkbox-label:disabled,
aside .checkbox-label.disabled {
  cursor: default;
  opacity: .3;
}
aside .checkbox-label.disabled:hover,
aside .checkbox-label:disabled:hover {
  cursor: default;
  color: #000;
  opacity: .3;
}
aside .radio-label {
  display: block;
  margin-bottom: 20px;
  margin-left: 45px;
  position: relative;
  cursor: pointer;
}
aside .radio-label::before {
  content: '';
  width: 16px;
  height: 16px;
  border: 2px solid;
  position: absolute;
  left: -45px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
aside .radio-label:hover {
  color: #663d15;
}
aside .radio-label:hover::before,
aside .radio-label:hover::after {
  color: #000;
}
aside .radio-label:disabled,
aside .radio-label.disabled {
  cursor: default;
  opacity: .3;
}
aside .radio-label.disabled:hover,
aside .radio-label:disabled:hover {
  cursor: default;
  color: #000;
  opacity: .3;
}
aside input {
  display: none;
}
#check-1:checked:checked ~ label[for="check-1"]::before,
#check-2:checked:checked ~ label[for="check-2"]::before,
#check-3:checked:checked ~ label[for="check-3"]::before,
#check-4:checked:checked ~ label[for="check-4"]::before,
#check-5:checked:checked ~ label[for="check-5"]::before,
#check-6:checked:checked ~ label[for="check-6"]::before {
  background: url("../img/check.png") no-repeat 50% 50%;
}
#radio-1:checked:checked ~ label[for="radio-1"]::after,
#radio-2:checked:checked ~ label[for="radio-2"]::after,
#radio-3:checked:checked ~ label[for="radio-3"]::after {
  background-color: #000;
  content: '';
  width: 6px;
  height: 6px;
  border: 2px solid;
  position: absolute;
  left: -45px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  top: 5px;
  left: -40px;
}
.content {
  float: right;
  width: 700px;
}
.content .item {
  width: 220px;
  height: 286px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}
.content .item:nth-of-type(3n+3) {
  margin-right: 0;
}
.content .item a {
  text-decoration: none;
  color: #000;
}
.content .item img {
  width: 220px;
  height: 165px;
  margin-bottom: 10px;
}
.content .item .item-text,
.content .item .item-buy {
  padding: 0 15px 10px;
}
.content .item .item-price {
  display: inline-block;
  background-color: #e5e5e5;
  width: 110px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
.content .item .item-buy a {
  color: #ffffff;
}
.content .item .btn {
  padding: 12px 18px;
  margin-left: -5px;
}
.content .item .item-category {
  text-transform: none;
}
.content .paginator {
  float: left;
  margin-top: 35px;
  margin-bottom: 20px;
}
.content .paginator a {
  text-decoration: none;
  color: #fff;
  background-color: #000;
  padding: 13px 18px;
  margin-right: 7px;
}
.content .paginator a:hover {
  background-color: #663d15;
}
.content .paginator .active {
  background-color: #fff;
  color: #000;
}
.content .paginator .active:hover {
  background-color: #fff;
}
.main-footer {
  margin-top: 40px;
  padding-top: 57px;
  padding-bottom: 40px;
  color: #ffffff;
  background: #252525 url("../img/pattern-black.jpg");
  line-height: 24px;
}
.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 65px;
}
.footer-contacts a {
  color: #ffffff;
}
.footer-contacts a:hover {
  text-decoration: none;
}
.footer-social {
  float: left;
  width: 180px;
  text-align: center;
}
.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}
.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  background: #000 url("../img/sprite.png") no-repeat center;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  -webkit-transition: background-position 0.5s, background-color 0.5s;
  -o-transition: background-position 0.5s, background-color 0.5s;
  transition: background-position 0.5s, background-color 0.5s;
}
.social-btn:hover {
  background-color: #fff;
}
.social-btn-vk {
  background-position: 10px -163px;
}
.social-btn-vk:hover {
  background-position: 10px -295px;
}
.social-btn-fb {
  background-position: 10px -80px;
}
.social-btn-fb:hover {
  background-position: 10px -205px;
}
.social-btn-inst {
  background-position: 10px -122px;
}
.social-btn-inst:hover {
  background-position: 10px -248px;
}
.footer-copyright {
  float: right;
  max-width: 140px;
}
.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}
.footer-copyright .btn {
  margin-right: 0;
  padding: 10px 20px;
}
.footer-copyright .btn:hover {
  color: #000000;
  background-color: #fff;
}
