body {
  background: #f7f4f0 url("../img/item-bg.jpg") no-repeat center top;
  color: #000;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  margin: 0;
  min-width: 960px;
  padding: 0;
  text-transform: uppercase;
}
img {
  max-width: 100%;
  height: auto;
}
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}
.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}
.btn {
  background-color: #000;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  font: inherit;
  outline: none;
  padding: 10px 33px;
  text-align: center;
  text-decoration: none;
  text-transform: inherit;
  vertical-align: top;
}
.btn:hover,
.btn:active {
  background-color: #663d15;
}
.btn:disabled,
.btn.disabled {
  cursor: default;
  opacity: .5;
}
.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000;
}
.logo {
  float: left;
  margin-right: 20px;
  height: 24px;
  width: 111px;
  padding-top: 23px;
  padding-left: 20px;
}
.main-header {
  margin-bottom: 60px;
  background-color: #000;
  color: #ffffff;
}
.main-navigation {
  float: left;
  width: 680px;
}
.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.main-navigation a {
  color: #ffffff;
  display: block;
  padding: 25px 20px;
  text-decoration: none;
}
.main-navigation a:hover {
  background: #242424;
}
.main-navigation .active::after {
  background: #fff;
  bottom: 0;
  content: "";
  height: 5px;
  left: 20px;
  position: absolute;
  right: 20px;
}
.main-navigation a.active:hover {
  background: none;
}
.main-navigation span.active {
  display: block;
  padding: 25px 20px;
}
.user-block {
  float: right;
  max-width: 140px;
}
.login {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 25px 20px;
  padding-left: 50px;
  position: relative;
  text-decoration: none;
  vertical-align: top;
}
.login:hover {
  background-color: #242424;
}
.login:hover::before {
  opacity: 1;
}
.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 17px;
  width: 21px;
  height: 18px;
  background: url("../img/sprite.png") no-repeat;
  opacity: .3;
}
main {
  background: url("../img/bg-shop.jpg") repeat 50%;
}
h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
}
.breadcrumps {
  margin-bottom: 60px;
  padding-left: 0;
}
.breadcrumps ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.breadcrumps li {
  display: inline-block;
  position: relative;
}
.breadcrumps li::after {
  background-color: #000;
  bottom: 4px;
  content: '';
  display: block;
  height: 8px;
  margin-left: -10px;
  position: absolute;
  right: 15px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 8px;
}
.breadcrumps a {
  color: #000;
  display: block;
  margin-right: 40px;
  text-decoration: none;
}
.breadcrumps a:hover {
  text-decoration: underline;
}
.breadcrumps .current {
  color: #aba9a7;
}
.breadcrumps .current::after {
  display: none;
}
.sort-form {
  float: left;
  width: 220px;
  margin-right: 20px;
}
.sort-form .sort-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
}
.sort-form .sort-form__fieldset:last-of-type {
  margin-bottom: 40px;
}
.sort-form legend {
  font-size: 24px;
  margin-bottom: 30px;
}
.sort-form .checkbox-label {
  display: block;
  margin-bottom: 20px;
  margin-left: 45px;
  position: relative;
  cursor: pointer;
}
.sort-form .checkbox-label::before {
  content: '';
  width: 16px;
  height: 16px;
  border: 2px solid;
  position: absolute;
  left: -45px;
}
.sort-form .checkbox-label:hover {
  color: #663d15;
}
.sort-form .checkbox-label:hover::before {
  color: #000;
}
.sort-form .checkbox-label:disabled,
.sort-form .checkbox-label.disabled {
  cursor: default;
  opacity: .3;
}
.sort-form .checkbox-label.disabled:hover,
.sort-form .checkbox-label:disabled:hover {
  cursor: default;
  color: #000;
  opacity: .3;
}
.sort-form .radio-label {
  display: block;
  margin-bottom: 20px;
  margin-left: 45px;
  position: relative;
  cursor: pointer;
}
.sort-form .radio-label::before {
  content: '';
  width: 16px;
  height: 16px;
  border: 2px solid;
  position: absolute;
  left: -45px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.sort-form .radio-label:hover {
  color: #663d15;
}
.sort-form .radio-label:hover::before,
.sort-form .radio-label:hover::after {
  color: #000;
}
.sort-form .radio-label:disabled,
.sort-form .radio-label.disabled {
  cursor: default;
  opacity: .3;
}
.sort-form .radio-label.disabled:hover,
.sort-form .radio-label:disabled:hover {
  cursor: default;
  color: #000;
  opacity: .3;
}
.sort-form input {
  display: none;
}
#check-1:checked:checked ~ label[for="check-1"]::before,
#check-2:checked:checked ~ label[for="check-2"]::before,
#check-3:checked:checked ~ label[for="check-3"]::before,
#check-4:checked:checked ~ label[for="check-4"]::before,
#check-5:checked:checked ~ label[for="check-5"]::before,
#check-6:checked:checked ~ label[for="check-6"]::before {
  background: url("../img/check.png") no-repeat 50% 50%;
}
#radio-1:checked:checked ~ label[for="radio-1"]::after,
#radio-2:checked:checked ~ label[for="radio-2"]::after,
#radio-3:checked:checked ~ label[for="radio-3"]::after {
  background-color: #000;
  content: '';
  width: 6px;
  height: 6px;
  border: 2px solid;
  position: absolute;
  left: -45px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  top: 5px;
  left: -40px;
}
.content {
  float: right;
  width: 700px;
}
.content .item {
  width: 220px;
  height: 286px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}
.content .item:nth-of-type(3n+3) {
  margin-right: 0;
}
.content .item a {
  text-decoration: none;
  color: #000;
}
.content .item img {
  width: 220px;
  height: 165px;
  margin-bottom: 10px;
}
.content .item .item-text,
.content .item .item-buy {
  padding: 0 15px 10px;
}
.content .item .item-price {
  display: inline-block;
  background-color: #e5e5e5;
  width: 110px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
.content .item .item-buy a {
  color: #ffffff;
}
.content .item .btn {
  padding: 12px 18px;
  margin-left: -5px;
}
.content .item .item-category {
  text-transform: none;
}
.paginator {
  float: left;
  margin-top: 35px;
  margin-bottom: 20px;
}
.paginator a {
  text-decoration: none;
  color: #fff;
  background-color: #000;
  padding: 13px 18px;
  margin-right: 7px;
}
.paginator a:hover {
  background-color: #663d15;
}
.paginator .active {
  background-color: #fff;
  color: #000;
}
.paginator .active:hover {
  background-color: #fff;
}
.main-footer {
  margin-top: 40px;
  padding-top: 57px;
  padding-bottom: 40px;
  color: #ffffff;
  background: #252525 url("../img/pattern-black.jpg");
  line-height: 24px;
}
.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 65px;
}
.footer-contacts a {
  color: #ffffff;
}
.footer-contacts a:hover {
  text-decoration: none;
}
.footer-social {
  float: left;
  width: 180px;
  text-align: center;
}
.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}
.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  background: #000 url("../img/sprite.png") no-repeat center;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  -webkit-transition: background-position 0.5s, background-color 0.5s;
  -o-transition: background-position 0.5s, background-color 0.5s;
  transition: background-position 0.5s, background-color 0.5s;
}
.social-btn:hover {
  background-color: #fff;
}
.social-btn-vk {
  background-position: 10px -163px;
}
.social-btn-vk:hover {
  background-position: 10px -295px;
}
.social-btn-fb {
  background-position: 10px -80px;
}
.social-btn-fb:hover {
  background-position: 10px -205px;
}
.social-btn-inst {
  background-position: 10px -122px;
}
.social-btn-inst:hover {
  background-position: 10px -248px;
}
.footer-copyright {
  float: right;
  max-width: 140px;
}
.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}
.footer-copyright .btn {
  margin-right: 0;
  padding: 10px 20px;
}
.footer-copyright .btn:hover {
  color: #000000;
  background-color: #fff;
}
.modal-content {
  background: #f8f3f0 url("../img/pattern-white.jpg");
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
          box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  color: #000;
  display: none;
  left: 50%;
  margin-left: -230px;
  padding: 50px 80px;
  position: fixed;
  top: 120px;
  width: 300px;
  z-index: 20;
}
.modal-content-close {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 0;
  height: 22px;
  outline: 0;
  position: absolute;
  right: -34px;
  top: 0;
  width: 22px;
}
.modal-content-close::before,
.modal-content-close::after {
  background-color: #d0d0d0;
  -webkit-border-radius: 1px;
          border-radius: 1px;
  content: '';
  height: 3px;
  left: 2px;
  position: absolute;
  top: 10px;
  width: 19px;
}
.modal-content-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal-content-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.modal-content h2 {
  font-size: 30px;
  line-height: 42px;
  margin: 0;
  margin-bottom: 20px;
}
.modal-content p {
  margin: 0;
  margin-bottom: 14px;
}
.login-form {
  margin-top: 30px;
  margin-bottom: 10px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
  background-color: #f9f6f3;
  border: 2px solid #000;
  color: #000;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  margin-bottom: 10px;
  outline: none;
  padding: 10px 20px;
  padding-right: 40px;
  text-transform: uppercase;
  width: 236px;
}
.login-form input:focus {
  border-color: #663d15;
}
.login-form input.icon-user {
  background-image: url("../img/sprite.png");
  background-position: 98% -10px;
  background-repeat: no-repeat;
}
.login-form input.icon-password {
  background-image: url("../img/sprite.png");
  background-position: 98% -42px;
  background-repeat: no-repeat;
}
.login-form .restore {
  color: #000;
  float: right;
}
.login-form .btn {
  margin-top: 15px;
  width: 100%;
}
.login-checkbox {
  cursor: pointer;
  padding-left: 30px;
  position: relative;
}
.login-checkbox:hover {
  color: #663d15;
}
.login-checkbox input[type="checkbox"] {
  display: none;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  background-color: #000;
  content: '';
  height: 2px;
  left: 1px;
  position: absolute;
  top: 8px;
  width: 15px;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  border: 2px solid #000;
  height: 17px;
  left: 0;
  position: absolute;
  top: -3px;
  width: 17px;
}
.modal-content-map {
  background: #e9e5dc url('../img/map.jpg');
  border: 7px solid #fff;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
          box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  display: none;
  height: 561px;
  left: 50%;
  margin-left: -390px;
  margin-top: -280px;
  position: fixed;
  top: 50%;
  width: 766px;
  z-index: 20;
}
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.modal-content-show {
  display: block;
  -webkit-animation: bounce .6s;
          animation: bounce .6s;
}
.modal-error {
  -webkit-animation: shake .6s;
          animation: shake .6s;
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
