body {
	font-family: "PT Sans Narrow", Arial,  sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	min-width: 960px;
	background: #000 url("../img/background.jpg") no-repeat center top;
	color: #fff;
	margin: 0;
	padding: 0;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

//HEADER

.main-header {
	margin-bottom: 60px;
	background-color: #000;
	color: #ffffff;
}
.main-navigation {
	float: left;
	width: 780px;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0;
	}
	li {
		display: inline-block;
		vertical-align: top;
		font-size: 16px;
		line-height: 20px;
	}
	a {
		color: #ffffff;
		display: block;
		padding: 25px 20px;
		text-decoration: none;
		&:hover {
			background: #242424;
		}

	}
}

.user-block {
	float: right;
	max-width: 140px;
}

.login {
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	padding: 25px 20px;
	padding-left: 50px;
	position: relative;
	text-decoration: none;
	vertical-align: top;
	&:hover {
		background-color: #242424;
	}
	&:hover::before {
		opacity: 1;
	}

	&::before {
		content: "";
		position: absolute;
		top: 28px;
		left: 20px;
		width: 18px;
		height: 18px;
		background: url("../img/sprite.png") no-repeat;
		opacity: .3;
	}
}


//HEADER END

//MAIN

.index-logo {
	width: 368px;
	min-height: 240px;
	margin: 0 auto;
	margin-bottom: 25px;
}

.features {
	&-item {
		float: left;
		width: 300px;
		min-height: 175px; //for net only
		margin-right: 20px;
		&:last-child {
			margin-right: 0;
		}
	}
	margin-bottom: 80px;
}

.index-content {
	padding: 50px 80px;
	margin-bottom: 35px;
	&-left {
		min-height: 330px; //for net only
		float: left;
		width: 380px;
	}
	&-right {
		float: right;
		width: 300px;
		min-height: 330px; //for net only
	}
}

//MAIN END

//FOOTER
.main-footer {
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;
}

.footer-contacts {
	float: left;
	width: 320px;
	margin-right: 60px;
	min-height: 90px; //for net only
}

.footer-social {
	float: left;
	width: 180px;
	min-height: 90px; //for net only
}

.footer-copyright {
	float: right;
	width: 180px;
	min-height: 90px; //for net only
}

//FOOTER END