body {
	font-family: "PT Sans Narrow", Arial,  sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	min-width: 960px;
	background: #242424 url("../img/background.jpg") no-repeat center top;
	color: #fff;
	margin: 0;
	padding: 0;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

//HEADER

.main-header {
	margin-bottom: 60px;
	background-color: #000;
	color: #ffffff;
}
.main-navigation {
	float: left;
	width: 780px;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0;
	}
	li {
		display: inline-block;
		vertical-align: top;
		font-size: 16px;
		line-height: 20px;
	}
	a {
		color: #ffffff;
		display: block;
		padding: 25px 20px;
		text-decoration: none;
		&:hover {
			background: #242424;
		}

	}
}

.user-block {
	float: right;
	max-width: 140px;
}

.login {
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	padding: 25px 20px;
	padding-left: 50px;
	position: relative;
	text-decoration: none;
	vertical-align: top;
	&:hover {
		background-color: #242424;
	}
	&:hover::before {
		opacity: 1;
	}
	&::before {
		content: "";
		position: absolute;
		top: 28px;
		left: 17px;
		width: 21px;
		height: 18px;
		background: url("../img/sprite.png") no-repeat;
		opacity: .3;
	}
}


//HEADER END

//MAIN
//LOGO 

.index-logo {
	width: 368px;
	height: 204px;
	margin: 0 auto;
	margin-bottom: 20px;
	img {
		width: 368px;
		height: 204px;
	}
}

//FEATURES 

.features {
	&-item {
		float: left;
		width: 300px;
		margin-right: 20px;
		text-align: center;
		&:last-child {
			margin-right: 0;
		}
		p {
			margin: 10px;
			margin-bottom: 0;
		}
	}
	&-name {
		display: block;
		font-size: 30px;
		line-height: 42px;
		margin-bottom: 35px;
		padding-bottom: 35px;
		position: relative;
		&::after {
			content: '';
			display: block;
			width: 20px;
			height: 20px;
			background-color: #fff;
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -10px;
			transform: rotate(45deg);
		}
	}
	margin-bottom: 80px;
}

//NEWS AND GALLERY

.index-content {
	padding: 40px 80px 55px;
	margin-bottom: 35px;
	color: #000;
	background: url("../img/index-content-shadow.png") no-repeat center, #f8f5f2 url("../img/pattern-white.jpg");
	&-left {
		float: left;
		width: 380px;
	}
	&-right {
		float: right;
		width: 300px;
		
	}
	&-title {
		margin: 0;
		margin-bottom: 25px;
		font-size: 30px;
		line-height: 42px;
	}
	p {
		margin: 0;
		margin-bottom: 25px;
	}
}

.index-content:last-of-type {
	padding-top: 45px;
	p:last-of-type {
		margin-bottom: 45px;
	}
}

.index-content-right:last-of-type {
	p:last-of-type {
		margin-bottom: 30px;
	}
}

.news-preview {
	margin: 0;
	padding: 0;
	padding-right: 80px;
	list-style: none;
	li {
		margin-bottom: 25px;
	}
	p {
		margin-bottom: 0;	
	}
	time {
		text-transform: none;
		font-weight: 400;
	}
}

.btn {
	display: inline-block;
	padding: 10px 33px;
	color: #fff;
	background-color: #000;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 700;
	font: inherit;
	text-transform: inherit;
	text-decoration: none;
	vertical-align: top;
	text-align: center;
	margin-right: 16px;
	&:hover, &:active {
		background-color: #663d15;
	}
	&:disabled, &.disabled {
		cursor: default;
		opacity: .5;
	}
	&.disabled:hover, &:disabled:hover {
		background-color: #000;
	}
}

.gallery {
	position: relative;
	height: 260px;
	&-content {
		height: 164px;
		margin: 0;
		background-color: #ccc;
		border: 7px solid #fff;
		img {
			width: 286px;
			height: 164px;
		}
	}
	& .btn {
		position: absolute;
		bottom: 0;
		width: 140px;
		margin: 0;
	}
	&-prev {
		left: 0;
	}
	&-next {
		right: 0;
	}
}

.appointment-form {
	
	input {
		background-color: #f9f6f3;
		border: 2px solid #000;
		outline: none;
		font-size: 14px;
		line-height: 24px;
		font: inherit;
		text-transform: inherit;
		color: inherit;
		width: 106px;
		padding: 7px 15px;
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
		&:nth-child(2n) {
			margin-right: 0;
		}
		&:focus {
			border: 2px solid #663d15;
		}
	}
	& .btn {
		clear: both;
		width: 100%;
		margin-top: 10px;
	}
}

//MAIN END

//FOOTER
.main-footer {
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;
	color: #ffffff;
	background: #252525 url("../img/pattern-black.jpg");
}

.footer-contacts {
	float: left;
	width: 320px;
	margin-right: 60px;
	a {
		color: #ffffff;
		&:hover {
			text-decoration: none;
		}
	}
}

.footer-social {
	float: left;
	width: 180px;
	text-align: center;
	p {
		margin: 0;
		margin-bottom: 15px;
	}
}

.social-btn {
	display: inline-block;
	width: 43px;
	height: 43px;
	margin: 0 2px;
	background: #000 url("../img/sprite.png") no-repeat center;
	font-size: 0;
	vertical-align: top;
	text-decoration: none;
	transition: background-position .5s, background-color .5s;
	&:hover {
		background-color: #fff;
	}
}

.social-btn-vk {
	background-position: 10px -163px;
	&:hover {
		background-position: 10px -295px;
	}
}

.social-btn-fb {
	background-position: 10px -80px;
	&:hover {
		background-position: 10px -205px;
	}
}

.social-btn-inst {
	background-position: 10px -122px;
	&:hover {
		background-position: 10px -248px;
	}
}

.footer-copyright {
	float: right;
	max-width: 140px;
	p {
		margin: 0;
		margin-bottom: 15px;
		text-align: center;
	}
	& .btn {
		margin-right: 0;
		padding: 10px 20px;
		&:hover {
			color: #000000;
			background-color: #fff;
		}
	}
}

//FOOTER END

//POP-UP 

.modal-content {
	width: 300px;
	padding: 50px 80px;
	color: #000;
	background: #f8f3f0 url("../img/pattern-white.jpg");
	position: absolute;
	top: 120px;
	left: 50%;
	margin-left: -230px;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	&-close {
		width: 22px;
		height: 22px;
		font-size: 0;
		background-color: red;
		border: 0;
		outline: 0;
		cursor: pointer;
		position: absolute;
		top: 0;
		right: -34px;
	}
}
